<div 
    class="related-post h-screen-no-bars md:h-screen--sub-menu bg-align-cover relative rocket-lazyload entered lazyloaded" 
    style="background-image: url(&quot;{{image}}&quot;);" 
    data-ll-status="loaded" 
    >
    <div class="w-full h-full bg-linear-1" ></div>
    <div class="w-full h-fit absolute bottom-0" >
        <div class="text-white flex flex-col items-center js-marked-non-top  bg-gradient-to-t from-black/50 via-black/25 to-black/0 p-8" >
            <h3 class="text-[24px] leading-[30px] tracking-[-0.48px] text-inverse-primary font-BasisGrotesquePro text-center pb-2">
                Viegazine            
            </h3>
            <h2 class="typo-title-font md:text-[48px] sm:text-[42px] text-9 md:leading-[62.4px] sm:leading-[56px] leading-[52px] text-inverse-primary font-TiemposFine text-shadow-1 text-center">
                {{title}}
            </h2>
            <button type="button" data-dist="300" aria-label="Vào trang" class="bg-align-cover w-[48px] aspect-1 mt-[33px] mb-5 cdown-animation js-down-button z-30 relative" style="background-image: url('https://vietales.vn/static/images/icons/cdown.svg');">
            </button>
        </div>
    </div>
    <a class="related-post-click absolute inset-0 z-10" href="/article/{{slug}}"  aria-label="Nội dung đọc"></a>
</div>