<header class="fixed top-0 left-0 right-0 w-full z-50 h-10 md:h-16"> {{!-- Added fixed height h-20 --}}
    <style>
        :root {
            --primary: rgb(147, 51, 234);
            /* Tailwind purple-600 */
        }
    </style>
    <div
        class="header-bg absolute top-0 left-0 right-0 w-full h-full bg-white opacity-0 transform-origin-top shadow-md">
    </div>
    <div class="container mx-auto px-4 h-full relative"> {{!-- Added px-4 and h-full --}}
        <div class="flex justify-between items-center h-full"> {{!-- Added h-full --}}
            <div class="relative z-10 flex items-center"> {{!-- Added flex items-center --}}
                <button id="open-sidebar" class="sidebar-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                </button>
            </div>
            <a href="/" class="relative z-9 block h-full flex items-center overfollow-hidden"> {{!-- Added h-full flex items-center --}}
                {{!-- Reduced height and adjusted viewBox accordingly, added max-h-full and scale-125 --}}
                <svg class="logo max-h-full transition-all scale-[150%] md:scale-[200%] duration-300" xmlns="http://www.w3.org/2000/svg"
                    version="1.0" width="320px" height="80px" viewBox="0 0 840 230" preserveAspectRatio="xMidYMid meet">
                    <g transform="matrix(.1 0 0 -.1 0 264)" fill="#000000" stroke="none">
                        <path
                            d="m2998.2 1889.55 -24.7 -19 6.65 -214.7c5.7 -213.75 5.7 -214.7 -13.3 -201.4 -35.15 24.7 -136.8 145.35 -176.7 209.95 -54.15 87.4 -115.9 114.95 -167.2 75.05 -19.95 -15.2 -21.85 -22.8 -19.95 -92.15 0.95 -40.85 1.9 -78.85 1.9 -84.55 0.95 -4.75 -1.9 -84.55 -5.7 -175.75l-6.65 -166.25 28.5 -31.35c21.85 -23.75 36.1 -31.35 56.05 -28.5 22.8 2.85 25.65 5.7 22.8 36.1 -8.55 87.4 -4.75 273.6 6.65 305.9 14.25 42.75 7.6 45.6 149.15 -57.95 136.8 -99.75 136.8 -99.75 136.8 -140.6 0 -39.9 19.95 -123.5 36.1 -151.05 5.7 -10.45 11.4 -16.15 12.35 -13.3 4.75 23.75 8.55 79.8 11.4 175.75 1.9 62.7 10.45 158.65 19.95 213.75 15.2 100.7 19 118.75 47.5 223.25 20.9 77.9 19 106.4 -8.55 133 -28.5 29.45 -77.9 31.35 -113.05 3.8" />
                        <path
                            d="M5978.35 1851.55c-12.35 -3.8 -93.1 -10.45 -180.5 -13.3 -126.35 -4.75 -163.4 -9.5 -175.75 -20.9 -23.75 -21.85 -20.9 -52.25 6.65 -78.85 27.55 -25.65 71.25 -21.85 106.4 10.45 17.1 16.15 38 21.85 109.25 27.55 48.45 3.8 91.2 3.8 95 0 8.55 -6.65 12.35 -73.15 22.8 -406.6 6.65 -231.8 13.3 -268.85 40.85 -235.6 16.15 19 38.95 150.1 38.95 225.15 0 36.1 6.65 128.25 14.25 205.2 7.6 77.9 15.2 157.7 16.15 178.6l2.85 38 118.75 -1.9c173.85 -3.8 164.35 0.95 156.75 -81.7 -2.85 -38 -14.25 -132.05 -24.7 -209.95 -9.5 -76.95 -18.05 -170.05 -18.05 -205.2 0 -56.05 3.8 -69.35 23.75 -93.1 13.3 -16.15 37.05 -31.35 52.25 -35.15 29.45 -6.65 66.5 7.6 66.5 26.6 0 6.65 9.5 31.35 21.85 56.05l21.85 44.65 18.05 -33.25c21.85 -40.85 77.9 -89.3 102.6 -89.3 22.8 0 64.6 21.85 86.45 46.55 17.1 19 18.05 19 40.85 0.95 67.45 -52.25 131.1 -43.7 193.8 26.6 108.3 123.5 95 196.65 -38 208.05l-58.9 5.7 5.7 35.15c7.6 42.75 -14.25 71.25 -46.55 60.8 -73.15 -22.8 -90.25 -43.7 -114.95 -133 -18.05 -65.55 -18.05 -66.5 11.4 -167.2 2.85 -10.45 -4.75 -20.9 -25.65 -31.35 -28.5 -14.25 -31.35 -14.25 -48.45 0 -26.6 24.7 -39.9 75.05 -32.3 129.2 7.6 52.25 -3.8 75.05 -35.15 75.05 -25.65 0 -87.4 -62.7 -79.8 -81.7 5.7 -16.15 -37.05 -108.3 -50.35 -108.3 -17.1 0 -22.8 147.25 -11.4 275.5 7.6 84.55 19 149.15 33.25 191.9 29.45 82.65 19.95 144.4 -22.8 150.1 -34.2 4.75 -47.5 -0.95 -53.2 -24.7 -5.7 -20.9 -10.45 -23.75 -31.35 -19 -146.3 32.3 -211.85 43.7 -249.85 43.7 -24.7 0 -54.15 3.8 -66.5 8.55s-31.35 4.75 -42.75 0m923.4 -483.55c36.1 -22.8 40.85 -42.75 19 -84.55 -17.1 -33.25 -67.45 -76.95 -89.3 -76.95 -49.4 0 -87.4 76.95 -67.45 138.7 5.7 17.1 18.05 36.1 26.6 41.8 21.85 13.3 72.2 4.75 111.15 -19" />
                        <path
                            d="M4436.5 1834.45c-23.75 -45.6 -3.8 -95 50.35 -120.65 47.5 -21.85 49.4 -26.6 62.7 -253.65 10.45 -172.9 24.7 -218.5 70.3 -223.25l26.6 -2.85 -6.65 45.6c-16.15 96.9 -1.9 273.6 24.7 315.4 21.85 36.1 182.4 -89.3 227.05 -176.7 50.35 -99.75 1.9 -157.7 -179.55 -211.85l-71.25 -21.85 61.75 -17.1c108.3 -31.35 183.35 -19.95 248.9 38 31.35 28.5 38.95 41.8 42.75 79.8 12.35 111.15 -53.2 217.55 -203.3 330.6 -50.35 38 -101.65 84.55 -115.9 104.5 -17.1 24.7 -36.1 38.95 -62.7 45.6 -27.55 7.6 -44.65 20.9 -63.65 48.45 -23.75 33.25 -30.4 38 -64.6 38 -27.55 0 -39.9 -4.75 -47.5 -18.05" />
                        <path
                            d="M2004.5 1824.95c-4.75 -10.45 -9.5 -30.4 -9.5 -44.65 0 -15.2 -12.35 -132.05 -27.55 -260.3s-26.6 -253.65 -26.6 -280.25c1.9 -41.8 -0.95 -47.5 -18.05 -50.35 -15.2 -1.9 -23.75 5.7 -35.15 28.5 -22.8 49.4 -44.65 131.1 -44.65 169.1 0 38.95 -22.8 66.5 -54.15 66.5s-64.6 -33.25 -111.15 -111.15c-23.75 -40.85 -50.35 -82.65 -57.95 -93.1 -26.6 -34.2 -35.15 -0.95 -29.45 120.65 6.65 135.85 0 159.6 -44.65 159.6 -21.85 0 -38.95 -7.6 -54.15 -23.75 -19.95 -21.85 -21.85 -28.5 -16.15 -98.8l5.7 -76 -36.1 -45.6c-41.8 -52.25 -94.05 -87.4 -99.75 -67.45 -10.45 31.35 -11.4 83.6 -4.75 153.9 8.55 88.35 0.95 110.2 -38 110.2 -61.75 0 -100.7 -102.6 -79.8 -209.95l9.5 -46.55 -38.95 -10.45c-21.85 -5.7 -71.25 -11.4 -112.1 -12.35 -59.85 -0.95 -76.95 2.85 -99.75 19 -56.05 41.8 -63.65 190 -16.15 357.2 22.8 80.75 28.5 143.45 17.1 173.85 -8.55 21.85 -57.95 44.65 -82.65 37.05s-61.75 -38.95 -76 -65.55 -19 -395.2 -5.7 -444.6c13.3 -50.35 59.85 -96.9 114 -113.05 22.8 -6.65 77.9 -12.35 122.55 -11.4 67.45 0 90.25 3.8 136.8 25.65l55.1 25.65 26.6 -19c14.25 -10.45 36.1 -19 47.5 -19 25.65 0 92.15 45.6 131.1 90.25 17.1 19 30.4 28.5 30.4 22.8 0 -20.9 45.6 -72.2 75.05 -84.55 49.4 -19.95 70.3 -6.65 125.4 77.9l50.35 78.85 12.35 -47.5c21.85 -80.75 41.8 -111.15 91.2 -136.8 40.85 -20.9 49.4 -21.85 82.65 -11.4 20.9 5.7 38 16.15 38 21.85s6.65 3.8 17.1 -4.75c37.05 -33.25 100.7 -31.35 111.15 3.8 3.8 11.4 15.2 38.95 25.65 63.65l19.95 43.7 17.1 -34.2c22.8 -44.65 79.8 -93.1 109.25 -93.1 27.55 0 108.3 70.3 108.3 94.05 0 11.4 -5.7 8.55 -21.85 -10.45 -68.4 -80.75 -124.45 -37.05 -118.75 93.1 1.9 62.7 -3.8 79.8 -30.4 79.8 -30.4 0 -85.5 -55.1 -85.5 -85.5 0 -14.25 -11.4 -46.55 -25.65 -72.2l-25.65 -45.6 -8.55 32.3c-15.2 58.9 -0.95 327.75 21.85 408.5 30.4 105.45 33.25 138.7 15.2 166.25 -19.95 29.45 -66.5 33.25 -81.7 5.7" />
                        <path
                            d="M7536.35 1812.6c-50.35 -24.7 -12.35 -121.6 47.5 -121.6 26.6 0 38.95 8.55 53.2 35.15 16.15 31.35 13.3 48.45 -13.3 74.1 -24.7 25.65 -53.2 29.45 -87.4 12.35" />
                        <path
                            d="M1269.2 1656.8c-42.75 -15.2 -72.2 -38.95 -72.2 -57.95s25.65 -25.65 51.3 -14.25c18.05 7.6 31.35 4.75 69.35 -13.3 33.25 -17.1 55.1 -21.85 72.2 -17.1 31.35 7.6 84.55 66.5 80.75 87.4 -4.75 23.75 -41.8 24.7 -78.85 2.85 -28.5 -16.15 -33.25 -17.1 -43.7 -4.75 -21.85 26.6 -40.85 30.4 -78.85 17.1" />
                        <path
                            d="M3706.9 1542.8c-29.45 -19.95 -40.85 -45.6 -44.65 -99.75 -1.9 -26.6 -15.2 -70.3 -30.4 -100.7 -33.25 -66.5 -105.45 -145.35 -133.95 -145.35 -19 0 -20.9 4.75 -20.9 61.75 0 34.2 6.65 77.9 14.25 96.9 20.9 49.4 18.05 68.4 -10.45 75.05 -32.3 8.55 -75.05 -22.8 -76 -56.05 -0.95 -30.4 -40.85 -97.85 -78.85 -133.95 -24.7 -23.75 -29.45 -25.65 -35.15 -12.35 -13.3 35.15 26.6 176.7 59.85 212.8 18.05 18.05 27.55 21.85 49.4 17.1 56.05 -12.35 110.2 39.9 74.1 70.3 -65.55 53.2 -184.3 -16.15 -258.4 -152 -38 -71.25 -36.1 -132.05 5.7 -175.75 54.15 -56.05 79.8 -51.3 145.35 20.9l36.1 40.85 23.75 -46.55c35.15 -70.3 85.5 -73.15 141.55 -9.5l26.6 29.45 9.5 -31.35c6.65 -19.95 19.95 -34.2 39.9 -41.8 44.65 -18.05 64.6 0 65.55 59.85 0.95 40.85 6.65 55.1 45.6 105.45 24.7 32.3 49.4 60.8 54.15 63.65 5.7 3.8 9.5 -21.85 9.5 -66.5 0 -68.4 1.9 -74.1 28.5 -101.65 15.2 -15.2 35.15 -26.6 44.65 -24.7 8.55 1.9 34.2 35.15 57 74.1 64.6 109.25 69.35 111.15 69.35 34.2 0 -60.8 1.9 -66.5 32.3 -96.9 19.95 -19.95 41.8 -32.3 56.05 -32.3 44.65 0 154.85 103.55 172.9 161.5 4.75 16.15 -15.2 0.95 -64.6 -52.25 -88.35 -92.15 -96.9 -89.3 -95 25.65 0.95 90.25 -6.65 117.8 -38.95 132.05 -33.25 15.2 -55.1 -0.95 -90.25 -69.35 -33.25 -63.65 -76 -125.4 -82.65 -118.75 -2.85 1.9 1.9 39.9 8.55 83.6 19 120.65 0 167.2 -57.95 139.65 -13.3 -6.65 -54.15 -48.45 -91.2 -93.1l-65.55 -80.75 6.65 42.75c3.8 22.8 20.9 70.3 38.95 103.55 41.8 77.9 43.7 105.45 6.65 105.45 -14.25 0 -36.1 -6.65 -47.5 -15.2" />
                        <path
                            d="M5204.1 1520.95c-53.2 -34.2 -120.65 -116.85 -142.5 -174.8 -21.85 -59.85 -10.45 -115.9 34.2 -155.8 19 -17.1 42.75 -31.35 53.2 -31.35 11.4 0 40.85 21.85 68.4 50.35l48.45 51.3 22.8 -45.6c34.2 -68.4 77.9 -73.15 135.85 -16.15 32.3 33.25 85.5 118.75 85.5 138.7 0 21.85 -16.15 11.4 -28.5 -17.1 -18.05 -43.7 -98.8 -126.35 -119.7 -121.6 -15.2 2.85 -19 13.3 -20.9 61.75 -1.9 37.05 2.85 71.25 12.35 93.1 20.9 51.3 18.05 70.3 -10.45 76.95 -32.3 8.55 -75.05 -22.8 -76 -56.05 -1.9 -49.4 -96.9 -174.8 -113.05 -149.15 -17.1 27.55 28.5 185.25 62.7 219.45 12.35 12.35 25.65 16.15 44.65 12.35 36.1 -7.6 87.4 19 87.4 43.7 0 23.75 -35.15 47.5 -71.25 47.5 -16.15 0 -49.4 -12.35 -73.15 -27.55" />
                        <path
                            d="M7212.4 1528.55c-84.55 -42.75 -167.2 -167.2 -165.3 -249.85 0.95 -38.95 5.7 -51.3 31.35 -77.9 54.15 -56.05 79.8 -51.3 145.35 20.9l36.1 40.85 23.75 -46.55c35.15 -70.3 82.65 -73.15 143.45 -8.55l29.45 31.35 35.15 -35.15c44.65 -42.75 73.15 -44.65 123.5 -8.55 65.55 47.5 132.05 133.95 115.9 149.15 -1.9 1.9 -18.05 -16.15 -36.1 -39.9 -18.05 -24.7 -49.4 -57 -69.35 -73.15 -50.35 -39.9 -56.05 -27.55 -50.35 108.3 4.75 120.65 -0.95 142.5 -40.85 142.5 -41.8 0 -67.45 -35.15 -77.9 -110.2 -4.75 -35.15 -6.65 -70.3 -4.75 -76.95 7.6 -18.05 -72.2 -97.85 -96.9 -97.85 -19 0 -20.9 4.75 -20.9 61.75 0 34.2 6.65 77.9 14.25 96.9 20.9 49.4 18.05 68.4 -10.45 75.05 -31.35 8.55 -75.05 -22.8 -76 -54.15 -0.95 -12.35 -8.55 -37.05 -17.1 -54.15 -19 -38 -79.8 -106.4 -94.05 -106.4 -12.35 0 -2.85 80.75 19 148.2 21.85 71.25 51.3 102.6 87.4 94.05 35.15 -7.6 86.45 17.1 86.45 41.8 0 43.7 -70.3 59.85 -131.1 28.5" />
                        <path
                            d="M5194.6 1123.85c-22.8 -26.6 -24.7 -43.7 -10.45 -71.25 9.5 -19.95 19.95 -26.6 39.9 -26.6 53.2 0 78.85 69.35 37.05 98.8 -27.55 19.95 -48.45 19 -66.5 -0.95" />
                        <path
                            d="M7189.6 1123.85c-26.6 -30.4 -29.45 -57 -8.55 -77.9 25.65 -25.65 62.7 -25.65 80.75 0.95 19.95 28.5 19 51.3 -3.8 74.1 -23.75 23.75 -49.4 24.7 -68.4 2.85" />
                    </g>
                </svg>
            </a>
            <nav>
                {{!-- <ul class="flex space-x-6 text-white header-text">
                    <li><a href="/contact" class="transition-colors hover:opacity-75">Liên hệ</a></li>
                    <li><a href="/search" class="transition-colors hover:opacity-75">Tìm kiếm</a></li>
                </ul> --}}
            </nav>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Khởi tạo Lenis
            const lenis = new Lenis({
                duration: 1.2,
                easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
                direction: 'vertical',
                gestureDirection: 'vertical',
                smooth: true,
                smoothTouch: false,
                touchMultiplier: 2
            });

            // Tích hợp Lenis với GSAP
            function raf(time) {
                lenis.raf(time);
                requestAnimationFrame(raf);
            }
            requestAnimationFrame(raf);

            // Khởi tạo GSAP ScrollTrigger
            gsap.registerPlugin(ScrollTrigger);

            const tl = gsap.timeline({
                scrollTrigger: {
                    trigger: 'body',
                    start: 'top -100px',  // Adjusted start trigger
                    end: 'top -200px',    // Adjusted end trigger
                    scrub: true,
                    //markers: true
                    //toggleActions: 'play none none reverse'
                }
            });
            tl.to('.logo', {
                scale: 1, // Updated scale animation
                duration: 0.5, // Adjusted duration
                ease: 'power2.inOut' // Updated ease
            }, 0) // Start at the beginning of the timeline
                .to('.logo g', { // Target the 'g' element for fill color change
                    fill: 'rgb(147, 51, 234)', // Updated fill color to Tailwind purple-600
                    duration: 0.5,
                    ease: 'power2.inOut' // Updated ease
                }, 0) // Start at the same time
                .to('.header-bg', {
                    scaleY: 1,
                    opacity: 1,
                    duration: 0.5, // Adjusted duration
                    ease: 'power2.inOut' // Updated ease
                }, 0) // Start at the same time
                .to('.header-text', {
                    color: '#000000',
                    duration: 0.5 // Adjusted duration
                }, 0); // Start at the same time
        });
    </script>
</header>